#container-form-edita{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.589);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

#container-form-edita form{
    position: relative;
    background-color: #ffead1;
    width: 50%;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
}
#close{
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
    border: 0;
    background-color: transparent;
    border-radius: 0 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
#container-form-edita form .group{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}
#container-form-edita form .group textarea{
    resize: none;
    margin-bottom: 10px;
    padding: 20px;
}
#container-form-edita form .group input, #container-form-edita form input{
    margin-bottom: 40px;
}

#container-form-edita form input{
    padding: 10px 20px;
    cursor: pointer;
}

#container-form-edita.active{
    display: flex !important;
}
#container-form-edita.disabled{
    display: none !important;
}
